parameters:
	ignoreErrors:
		-
			message: '#^Unused Waaseyaa\\Auth\\RateLimiter\:\:remaining$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/auth/src/RateLimiter.php

		-
			message: '#^Unused Waaseyaa\\Auth\\RateLimiterInterface\:\:attempts$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/auth/src/RateLimiterInterface.php

		-
			message: '#^Unused Waaseyaa\\Auth\\RateLimiterInterface\:\:remaining$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/auth/src/RateLimiterInterface.php

		-
			message: '#^Unused Waaseyaa\\Auth\\Token\\AuthTokenRepositoryInterface\:\:pruneExpired$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/auth/src/Token/AuthTokenRepositoryInterface.php

		-
			message: '#^Unused Waaseyaa\\Config\\EventAwareStorage\:\:getCollectionName$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/config/src/EventAwareStorage.php

		-
			message: '#^Unused Waaseyaa\\EntityStorage\\Hydration\\SqlColumnTranslationHydrator\:\:load$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/entity-storage/src/Hydration/SqlColumnTranslationHydrator.php

		-
			message: '#^Unused Waaseyaa\\Entity\\Community\\HasCommunityTrait\:\:getCommunityId$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/entity/src/Community/HasCommunityTrait.php

		-
			message: '#^Unused Waaseyaa\\Entity\\Community\\HasCommunityTrait\:\:setCommunityId$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/entity/src/Community/HasCommunityTrait.php

		-
			message: '#^Unused Waaseyaa\\Entity\\DateTime\\TimestampFieldConvention\:\:inferAutoPopulate$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/entity/src/DateTime/TimestampFieldConvention.php

		-
			message: '#^Unused Waaseyaa\\Entity\\DateTime\\TimestampFieldConvention\:\:isRawTimestampUnset$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/entity/src/DateTime/TimestampFieldConvention.php

		-
			message: '#^Unused Waaseyaa\\Entity\\DateTime\\TimestampFieldConvention\:\:resolveStorageFormat$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/entity/src/DateTime/TimestampFieldConvention.php

		-
			message: '#^Unused Waaseyaa\\Entity\\EntityType\:\:clearFromClassCache$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/entity/src/EntityType.php

		-
			message: '#^Unused Waaseyaa\\Foundation\\Tenant\\TenantMiddleware\:\:handle$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/foundation/src/Tenant/TenantMiddleware.php

		-
			message: '#^Unused Waaseyaa\\Media\\Version\\MediaVersionRepository\:\:tip$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/media/src/Version/MediaVersionRepository.php

		-
			message: '#^Unused Waaseyaa\\Media\\Version\\MediaVersionStorageDriver\:\:setPendingUpload$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/media/src/Version/MediaVersionStorageDriver.php

		-
			message: '#^Property Waaseyaa\\Testing\\Traits\\InteractsWithApi\:\:\$requestHeaders is never read$#'
			identifier: shipmonk.deadProperty.neverRead
			count: 1
			path: packages/testing/src/Traits/InteractsWithApi.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\InteractsWithApi\:\:buildRequest$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/InteractsWithApi.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\InteractsWithApi\:\:delete$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/InteractsWithApi.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\InteractsWithApi\:\:patch$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/InteractsWithApi.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\InteractsWithApi\:\:post$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/InteractsWithApi.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\InteractsWithApi\:\:put$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/InteractsWithApi.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\InteractsWithApi\:\:withHeader$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/InteractsWithApi.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\InteractsWithApi\:\:withHeaders$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/InteractsWithApi.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\InteractsWithApi\:\:withToken$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/InteractsWithApi.php

		-
			message: '#^Property Waaseyaa\\Testing\\Traits\\RefreshDatabase\:\:\$databaseTransactionActive is never read$#'
			identifier: shipmonk.deadProperty.neverRead
			count: 1
			path: packages/testing/src/Traits/RefreshDatabase.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\RefreshDatabase\:\:beginDatabaseTransaction$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/RefreshDatabase.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\RefreshDatabase\:\:migrate$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/RefreshDatabase.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\RefreshDatabase\:\:rollBackDatabaseTransaction$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/RefreshDatabase.php

		-
			message: '#^Unused Waaseyaa\\Testing\\Traits\\RefreshDatabase\:\:truncateTables$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: packages/testing/src/Traits/RefreshDatabase.php
